<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="head">
        <h4>Tous les évenements</h4>
        <div>
          <button class="btn btn-primary" (click)="create(cre)"><i class="fa fa-plus" aria-hidden="true" ></i></button>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Titre</th>
            <th scope="col">Type</th>
            <th scope="col">Référence </th>
            <th scope="col">Zone</th>
            <th scope="col">Date Début </th>
            <th scope="col">Date Fin</th>
            <th scope="col">Etat</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of Events" >
            <td scope="row" class="image" *ngIf="event.image[0].slice(0,10) == 'data:image'">
              <img [src]="event.image[0]">
            </td>
            <td scope="row" class="image" *ngIf="event.image[0].slice(0,10) != 'data:image'">
              <img [src]="'assets/doc.jpeg'">
            </td>
            <td>
              {{ event.titre }}

            </td>
            <td>
              {{ event.type_objet }}

            </td>
            <td>{{ event.ref_objet }}</td>
            <td>{{ event.type_zone }}</td>
            <td>{{toDateIKnow(event.date_debut) | date: 'dd-MM-yyyy'}}</td>
            <td>{{ toDateIKnow(event.date_fin) | date: 'dd-MM-yyyy'}}</td>
            <td>{{ event.etat }}</td>
            <td>
              <i class="fa fa-eye" style="cursor: pointer; margin-right: 5px; color:rgb(32, 97, 218)" aria-hidden="true"
                (click)="view(detail,event)">
              </i>
              <i class="fa fa-pencil-square-o" aria-hidden="true"
                style="cursor: pointer; margin-right: 5px; color:rgb(22, 206, 22)"
                
                (click)="update(upd,event)"></i>
              <i class="fa fa-trash-o" aria-hidden="true"
                style="cursor: pointer; margin-right: 5px; color:rgb(230, 45, 45)"
                (click)="delete(del,event)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #del let-modal>
  <app-delete-document  [modal]="modal" [event]="event"></app-delete-document>
</ng-template>
<ng-template #cre let-modal>
  <app-add-document [modal]="modal"></app-add-document>
</ng-template>
<ng-template #upd let-modal>
  <app-edit-document  [modal]="modal" [event]="event"></app-edit-document>
</ng-template>
<ng-template #detail let-modal>
  <app-detail-document [modal]="modal" [event]="event" ></app-detail-document>
</ng-template>